h1 {
    border: 3px solid black
} 
:root{
    --bg: #E0E0E0;
body {
    margin: 0 auto;
    max-width: 36em;
    padding: 50px;
    background: radial-gradient (1000px 600px at 10% -10%, #E0E0E0 0%, var(--bg) 60%);
}

